apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: mern-app
  labels:
    app: myapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      hostNetwork: true  # ✅ this allows using host's network
      containers:
      - name: frontend-container
        image: elonerajeev/myapp-frontend:v1
        ports:
        - containerPort: 3000  # ✅ this is enough
        env:
        - name: REACT_APP_BACKEND_URL
          valueFrom:
            secretKeyRef:
              name: frontend-secret
              key: REACT_APP_BACKEND_URL
